/****** Main Styling ******/
html {
  height: 100%;
  margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
  color: rgba(19, 87, 193, 0.68);
	font-size: 16px;
/* 	color: #fff; */
/* 	background-color: #ECF0F1; */
	text-align: center;
  height: 100%;
  margin: 0;
}
/* h1 {
  margin-bottom: 0;
} */
/************this is for sticky footer (and above height and margin)--
credit to https://css-tricks.com/couple-takes-sticky-footer***/

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.footer{
  height: 50px;
}
/*end footer styling*/

.container {

}

footer {
  display: flex;
  background-color: #351CDD;
  color: #fff;
  justify-content: center;
}


/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}
input, button{
  border-radius: 12px;
  border: medium solid rgba(19, 87, 193, 0.68);
  background-color: #fff;
  color: rgba(19, 87, 193, 0.68);
  font-size: 1.5em;
  

}
button:hover{
  border: medium solid rgba(19, 87, 193, 0.68);
  color: #fff;
  background-color: rgba(19, 87, 193, 0.68);
}
button{
    height: 40px;
}
input{
  max-width:95vw;
  margin-bottom: 1em;
}
input:focus, button:focus{
  display:none;
}


/*****this is for long urls not to break outside their div and wrap****/
/**credit to https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/**/
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
